{% extends 'users/base.html' %}
{% block head %}
<title>登录页面</title>
{% endblock %}


{% block content %}
    <div class="box">
        <h1 class="is-uppercase has-text-centered has-text-weight-bold">登录页面
            <br><span class="tag">登录</span>
        </h1>
        <hr class="dropdown-divider">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <a class=" is-pulled-right is-size-7" href="{% url 'users:forget_pwd' %}">忘记密码?</a>
            <input type="submit" class="button is-link is-fullwidth" value="提交">

        </form>
    </div>
{% endblock %}